
body {
  margin: 0;
  padding: 0;
  background-color:rgb(17, 8, 8);
  color:bisque
}

h2, p {
  margin: 10px;
}


.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.card{
  height: 200px;
  font-size: 25px;
}

